{
    "presets": [
      [
        "es2015",
        {
          "modules": false
        }
      ],
      ["env"],
      ["react"],
      ["@babel/preset-typescript"]
    ],
    "test": [
      "jest"
    ]
  }