body {
    margin: 0;
}

.main_style {
    height: 1200px;
}

.main_nav {
    top: 0;
    width: auto;
    height: 55px;
    position: sticky;
    z-index: 1;
}

.nav_block {
    width: auto;
    height: 55px;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin-right: 80px;
}

.elem_list_logo {
    width: 140px;
    height: 30px;
    margin-right: 20px;
    margin-top: 15px;
    background-image: url("http://localhost:5000/logo.jpg");
    background-repeat: round;
    text-decoration: none;
}

.elem_list_home {
    position: relative;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.elem_list_home:before {
    content: " ";
    position: absolute;
    top: 22px;
    left: 0.8px;
    width: 0px;
    height: 2px;
    background-color: black;
    background-size: 33px;
    transition: 0.2s all ease-in;
}

.elem_list_home:hover:before {
    width: 52px;
}

.elem_list_about,
.elem_list_catalog {
    position: relative;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.elem_list_catalog:before {
    content: " ";
    position: absolute;
    top: 22px;
    left: 1.8px;
    width: 0px;
    height: 2px;
    background-color: black;
    background-size: 33px;
    transition: 0.2s all ease-in;
}

.elem_list_catalog:hover:before {
    width: 65px;
}

.elem_list_about:before {
    content: " ";
    position: absolute;
    top: 22px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: black;
    background-size: 33px;
    transition: 0.2s all ease-in;
}

.elem_list_about:hover:before {
    width: 53px;
}

.elem_list_help {
    position: relative;
    text-decoration: none;
    color: black;
    margin-right: -80px;
    cursor: pointer;
}

.elem_list_help:before {
    content: " ";
    position: absolute;
    top: 22px;
    left: 1px;
    width: 0px;
    height: 2px;
    background-color: black;
    background-size: 33px;
    transition: 0.2s all ease-in;
}

.elem_list_help:hover:before {
    width: 40px;
}

.list_btn {
    height: 30px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
}

.menu_refs {
    width: auto;
    height: max-content;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s all ease-in-out;
}

.right_menu,
.left_menu {
    width: 170px;
    height: max-content;
    display: block;
}

.ref_on_page {
    display: none;
    opacity: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-bottom: 50px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.style_ref {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 970px) {
    .elem_list_logo {
        margin-top: 5px;
    }
}

.description_link {
    width: 140px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 11px;
}

.container_sldr {
    width: auto;
    height: max-content;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.window_sldr {
    width: 700px;
    height: 500px;
    display: flex;
    border: 1px solid rgb(202, 202, 202);
    overflow: hidden;
    background-color: rgb(221, 221, 221);
    position: relative;
}

.line_sldr {
    display: flex;
    transform: translate(0px);
    transition: all 0.7s ease-in-out;
}

.switches_sldr {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    top: 460px;
    left: 306px;
    position: absolute;
}

.slide_left_btn {
    width: 40px;
    border: none;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.slide_left_btn:hover {
    background-color: rgb(245, 245, 245);
}

.slide_right_btn {
    width: 40px;
    border: none;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.slide_right_btn:hover {
    background-color: rgb(245, 245, 245);
}


.photo_slider_btn_left {
    margin-left: -4px;
    transform: rotate(180deg);
}

.photo_slider_btn_right {
    margin-left: -4px;
}

.form_radio  {
    margin: 1px;
}

.form_radio input[type=radio] {
   display: none;
}

.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 6px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.form_radio label:before {
    content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
    border-radius: 15px;
	background-color: rgb(179, 179, 179);
}

.form_radio input[type=radio]:checked + label:before {
	background-color: rgb(243, 243, 243);
}
