body {
    margin: 0;
}

.main_style {
    width: auto;
    height: max-content;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.main_nav {
    top: 0;
    width: auto;
    height: 55px;
    position: sticky;
    z-index: 2;
}

.nav_block {
    width: auto;
    height: 65px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    /* box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25); */
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin-right: 103px;
}

.elem_list_logo {
    width: 69px;
    height: 48px;
    margin-right: 111px;
    background-image: url("http://localhost:5000/logo3.png");
    background-repeat: round;
    text-decoration: none;
    position: relative;
}

.child_logo {
    position: absolute;
    color: white;
    font-family: 'Lexend';
    left: 60px;
    top: -40px;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.elem_list_home {
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 81px;
    font-family: 'Alata';
}

.elem_list_about {
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 85px;
    font-size: 20px;
    font-family: 'Alata';
}

.elem_list_catalog {
    position: relative;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 114px;
    font-family: 'Alata';
    font-size: 20px;
    font-style: normal;
}

.navimage_arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 75px;
    transition: all 0.2s ease;
}

.navimage_arrow2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 57px;
    transition: all 0.2s ease;
}


.elem_list_help {
    position: relative;
    text-decoration: none;
    color: white;
    margin-right: -100px;
    cursor: pointer;
    width: 61px;
    font-size: 20px;
    font-family: 'Alata';
}

.list_btn {
    height: 30px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    border-radius: 50%;
}

.menu_refs {
    width: 100%;
    height: max-content;
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.right_menu,
.left_menu {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 190px 190px 190px 190px;
    overflow: hidden;
}

.ref_on_page {
    display: none;
    opacity: 0;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-bottom: 50px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.style_ref {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 970px) {
    .elem_list_logo {
        margin-top: 5px;
    }
}

.description_link {
    width: 140px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 11px;
}

.sign_ref {
    width: 65px;
    height: 33px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.1s linear;
    overflow: hidden;
    position: relative;
}

.backgr_btn {
    opacity: 1;
    width: 100px;
    height: 90px;
    rotate: 45deg;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -13px;
    left: -112px;
}

.content_btn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Alata';
    font-weight: 400;
    position: absolute;
    top: -14px;
    z-index: 1;
}

.profile_container {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in;
}

.profile_container::before {
    content: " ";
    width: 25px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 20px;
    left: 4px;
}

.profile_container:hover,
.profile_container:hover::after,
.profile_container:hover::before {
    background-color: white;
    border: 1px solid black;
}

.profile_container::after {
    content: " ";
    width: 10px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 7px;
    left: 11px;
}

.container_profile_menu {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0.3px 0.3px 4px 0.3px rgb(109, 109, 109);
    left: 12px;
    top: 40px;
    opacity: 0;
    z-index: 3;
}

.profile_refs {
    opacity: 1;
    font-size: 15px;
    font-family: 'Lexend';
    height: 37px;
    margin-top: 0;
    color: black;
    cursor: pointer;
    margin-bottom: 0;
    text-decoration: none;
    transition: all 0.1s ease;
}