.upload_avatar {
    display: flex;
    margin-top: 28px;
    margin-left: 42px;
}

.upload_image_btn {
    margin-top: 48px;
    margin-left: 42px;
    width: 120px;
    height: 32px;
    border-radius: 24px;
    border: 1px solid #0D0D0D;
    background: #FFF;
    cursor: pointer;
    transition: all 0.2s linear;
    position: relative;
    overflow: hidden;
}

.default_avatar {
    width: 118px;
    height: 119px;
    border-radius: 50%;
}

.user_image {
    width: 118px;
    height: 119px;
    overflow: hidden;
    background-repeat: round;
    border-radius: 50%;
}

.content_btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Cabin';
    font-weight: 400;
    position: absolute;
    top: -16px;
    left: 10px;
    z-index: 1;
}

.backgr_btn {
    opacity: 1;
    width: 160px;
    height: 100px;
    rotate: 45deg;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -13px;
    left: -136px;
}

.description_upload {
    margin-left: 42px;
    margin-top: 14px;
    font-family: 'Hind';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

#containers {
    margin-top: 15px;
}

#select_containers {
    margin-left: 17px;
}

#input_timezone {
    width: 565px;
}

.label_userinput {
    margin-left: 42px;
    display: flex;
    height: 32px;
    align-items: center;
}

.require_input {
    width: 15px;
    height: 15px;
    margin-left: 9px;
    margin-top: 3px;
}

.general_label {
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
    font-family: 'Hind';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.select_timezone,
.input_name {
    margin-left: 42px;
    width: 545px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 11px;
    border: 1px solid #9c9c9c;
    font-size: 17px;
    font-family: 'Hind';
    outline: none;
    transition: 0.2s all ease-in;
}

.select_timezone:hover,
.input_name:hover {
    border: 1px solid #2e2e2e;
}

.textarea_message {
    width: 541px;
    height: 132px;
    margin-left: 42px;
    padding: 4px 10px 4px 10px;
    border-radius: 11px;
    border: 1px solid #9c9c9c;
    font-family: 'Hind';
    font-size: 17px;
    resize: vertical;
    min-height: 80px;
    max-height: 152px;
    outline: none;
    transition: 0.2s all ease-in;
}

.textarea_message:hover {
    border: 1px solid #2e2e2e;
}

.choose_container {
    display: flex;
}

.birth_input {
    width: 233px;
    height: 40px;
    margin-left: 42px;
    padding: 0 10px 0 10px;
    border-radius: 11px;
    border: 1px solid #9c9c9c;
    outline: none;
    font-size: 17px;
    font-family: 'Hind';
    transition: 0.2s all ease-in;
}

.birth_input:hover {
    border: 1px solid #2e2e2e;
}

.select_country {
    width: 253px;
    height: 40px;
    margin-left: 59px;
    padding: 0 10px 0 10px;
    border-radius: 11px;
    border: 1px solid #9c9c9c;
    outline: none;
    font-size: 17px;
    font-family: 'Hind';
    transition: 0.2s all ease-in;
}

.select_country:hover {
    border: 1px solid #2e2e2e;
}

.savecancel_container {
    display: flex;
    margin: 31px 0 0 42px;
}

.cancel_btn {
    width: 113px;
    height: 42px;
    border-radius: 38px;
    border: 1px solid #000;
    background: #FFF;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.cancel_btn_content {
    font-family: 'Cabin';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: -11px;
    left: 26px;
    z-index: 1;
}

.cancel_btn_background {
    opacity: 1;
    width: 160px;
    height: 100px;
    rotate: 45deg;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -13px;
    left: -143px;
    z-index: 0;
}

.save_btn {
    width: 177px;
    height: 42px;
    border-radius: 38px;
    background: #000;
    position: relative;
    margin-left: 14px;
    cursor: pointer;
    border: none;
    border: 1px solid black;
    overflow: hidden;
}

.save_btn_content {
    color: #FFF;
    font-family: 'Cabin';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    top: -11px;
    left: 30px;
    z-index: 1;
}

.save_btn_background {
    opacity: 1;
    width: 228px;
    height: 228px;
    rotate: 45deg;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -28px;
    left: -223px;
    z-index: 0;
}

.input_upload_image {
    position: absolute;
    width: 0.1px;
	height: 0.1px;
    overflow: hidden;
}
