.main_form {
    width: 471px;
    height: 693px;

    position: absolute;
    padding-left: 37px;
    padding-top: 15px;
    top: 50%;
    left: 50%;
    margin: -316px 0px 0px -235px;
    transition: all 0.4s ease-in-out;
    box-shadow: 4px 4px 8px rgb(198, 198, 198);
}

.register_title {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}

.reg_input_username {
    width: 437px;
    height: 46px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease-in-out;
}

.reg_but_submit {
    width: 437px;
    height: 40px;

    background-color: black;
    color: white;

    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease-in-out;
}

.recaptcha_widget {
    width: 437px;
}

.recaptcha_form {
    height: 98px;
    margin-top: 30px;
    transition: all 0.4s ease-in-out;
}

#register_symbol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 900px) {
    .main_form {
        width: 330px;
        height: 590px;
        margin: -250px 0px 0px -150px;
        padding-left: 20px;
    }

    .register_title {
        font-size: 22px;
    }

    .reg_input_username {
        width: 310px;
        height: 30px; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
    }

    .reg_but_submit {
        width: 310px;
        height: 30px;
        color: white;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .recaptcha_form {
        margin-top: 40px;
        height: 78px;
    }

    .input_validate {
        position: absolute;
        color: #bf1650;
        margin: 0;
        padding-top: 10px;
        font-size: 13px;
    }
}

.input_validate {
    position: absolute;
    color: #bf1650;
    margin: 0;
    margin-top: 4px;
    font-size: 13px;
}

.input_validate::before {
    display: inline;
    content: "⚠ ";
    font-size: 13px;
}